*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

section{
    margin: 3rem 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.btn{
    font-size: 20px;
    font-weight: 700;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
}



/* header style start */

header{  
    background: rgba(229, 84, 115, 0.10);
}

div#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.header-content-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

p.header-content-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 32px 0;
}

button.shop-now-btn {
    padding: 20px 43px;
}

/* header style end */

/* featured style start */
.featured-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

h1.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

p.featured-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.featured-images {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    margin-top: 2rem;
}

.featured-img h3 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
    margin-top: 32px;
}


.featured-img > img {
    border-radius: 300px 300px 0px 0px;
    padding: 25px 25px 0px;
    width: 300px;
    height: 350px;
    object-fit: contain;
}
.pngwing-5 > img{
    background: rgba(5, 151, 160, 0.15);;
}
.pngwing-6 > img{
    background: rgba(167, 33, 98, 0.15);
}
.pngwing-7 > img{
    background: rgba(71, 125, 17, 0.15);
}

/* featured style end */

/* delivery style start */
.delivery {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 80px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

p.delivery-item-desc {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px; /* 145.833% */
}

/* delivery style end */

/* hot deal style start */
section#hot-deal-bg {
    background: rgba(229, 84, 115, 0.05);
    padding: 5rem 0;
}
section#hot-deal-bg {
    background: rgba(229, 84, 115, 0.05);
    padding: 5rem 0;
}

h1.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

p.hot-deal-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 24px 0;
}

.hot-deal {
    max-width: 700px;
    text-align: center;
}

.hot-deals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hot deal style end */

/* instagram style start */

h1.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

p.instagram-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.instagram-content {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 48px;
}


.instagram-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.instagram-img img {
    margin: 1rem 1rem;
}
/* instagram style end */

/* latest deal style start */
.latest-deal {
    padding: 4rem 0;
    text-align: center;
    background-image: url(images/Rectangle-9.png);
    background-repeat: no-repeat;
    background-size: contain;
}

h1.latest-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1rem;
}

p.latest-deal-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.latest-deal-form input {
    border-radius: 8px;
    background: #FFF;
    padding: 1rem 0 1rem 1rem;
    width: 500px;
    outline: none;
    border: 1px solid transparent;
    margin-right: 1rem;
}

.latest-deal-form {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* latest deal style end */


/* footer style start */
footer {
    background: #111010;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

h1.footer-title {
    color: #fff;
    font-size: 48px;
    font-weight: 800;
}

p.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 24px 0;
}

.footer-content {
    max-width: 700px;
    margin: 0 auto;
}

p.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}

h1.footer-title span {
    color: #E55473;
    font-weight: 800;
    font-size: 48px;
}

/* footer style end */