*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

section{
    margin: 3rem 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.btn{
    font-size: 20px;
    font-weight: 700;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
}



/* header style start */

header{  
    background: rgba(229, 84, 115, 0.10);
}

div#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.header-content-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

p.header-content-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 32px 0;
}

button.shop-now-btn {
    background: #E55473;
    color: #fff;
    padding: 20px 43px;
}

/* header style end */

/* featured style start */
.featured-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

h1.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

p.featured-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.featured-images {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    margin-top: 2rem;
}

.featured-img h3 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
    margin-top: 32px;
}


.featured-img > img {
    border-radius: 300px 300px 0px 0px;
    padding: 25px 25px 0px;
    width: 300px;
    height: 350px;
    object-fit: contain;
}
.pngwing-5 > img{
    background: rgba(5, 151, 160, 0.15);;
}
.pngwing-6 > img{
    background: rgba(167, 33, 98, 0.15);
}
.pngwing-7 > img{
    background: rgba(71, 125, 17, 0.15);
}

/* featured style end */

/* delivery style start */
.delivery {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 80px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

p.delivery-item-desc {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px; /* 145.833% */
}

/* delivery style end */

/* hot deal style start */
section#hot-deal-bg {
    background: rgba(229, 84, 115, 0.05);
    padding: 5rem 0;
}
section#hot-deal-bg {
    background: rgba(229, 84, 115, 0.05);
    padding: 5rem 0;
}

h1.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

p.hot-deal-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 24px 0;
}

button.sign-up-btn {
    
     /* 166.667% */
    background: #E55473;
    color: #fff;
}

.hot-deal {
    max-width: 700px;
    text-align: center;
}

.hot-deals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hot deal style end */
